@charset "UTF-8";

#player {
    background-color: var(--bs-body-bg);
    display: flex;
    height: 110px;
}

.player__content {
    border-top: 2px solid var(--bs-dark);
}

.player__info-container {
    margin-left: 25px;
    margin-top: 25px;
}

.player__thumbnail {
    width: 100px;
    height: 100px;
}

.player__track-infos {
    display: grid;
}

.player__track-title {
}

.player__track-recording {
    font-size: smaller;
    color: var(--bs-light);
}

.player__track-additional-info {

}

.player__icon {
    width: 32px;
    height: 32px;
}

#playingNow {
    margin-left: 12px;
    margin-top: 1px;
    margin-bottom: 12px;
}

