@charset "UTF-8";

/* noto-sans-tc-regular - latin */
@font-face {
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: 400;
    src: local(""), url("fonts/noto-sans-tc-v11-latin-regular.woff2") format("woff2"), url("fonts/noto-sans-tc-v11-latin-regular.woff") format("woff");
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* noto-sans-tc-700 - latin */
@font-face {
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: 700;
    src: local(""), url("fonts/noto-sans-tc-v11-latin-700.woff2") format("woff2"), url("fonts/noto-sans-tc-v11-latin-700.woff") format("woff");
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* noto-sans-tc-900 - latin */
@font-face {
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: 900;
    src: local(""), url("fonts/noto-sans-tc-v11-latin-900.woff2") format("woff2"), url("fonts/noto-sans-tc-v11-latin-900.woff") format("woff");
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* noto-serif-sc-300 - latin */
@font-face {
    font-family: "Noto Serif SC";
    font-style: normal;
    font-weight: 300;
    src: local(""), url("fonts/noto-serif-sc-v8-latin-300.woff2") format("woff2"), url("fonts/noto-serif-sc-v8-latin-300.woff") format("woff");
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* noto-serif-sc-regular - latin */
@font-face {
    font-family: "Noto Serif SC";
    font-style: normal;
    font-weight: 400;
    src: local(""), url("fonts/noto-serif-sc-v8-latin-regular.woff2") format("woff2"), url("fonts/noto-serif-sc-v8-latin-regular.woff") format("woff");
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/*:root {*/
/*    --col-bg: #181818;*/
/*    --col-listitem-less: #202020;*/
/*    --col-listitem: #282828;*/
/*    --col-listitem-over: #323232;*/
/*    --col-listitem-selected: #383838;*/
/*    --col-listitem-selected-over: #424242;*/
/*    --col-text-least: #666666;*/
/*    --col-text-less: #999999;*/
/*    --col-text: #cccccc;*/
/*    --col-accent: #ff2200;*/
/*    --icon-brightness: 100%;*/
/*}*/
#player {
    background-color: var(--bs-body-bg);
    /*padding: 12px;*/
    display: flex;
    height: 110px;
}

.player__content {
    border-top: 2px solid var(--bs-dark);
}

.player__info-container {
    margin-left: 25px;
    margin-top: 25px;
}

.player__thumbnail {
    width: 100px;
    height: 100px;
}

.player__track-infos {
    display: grid;
}

.player__track-title {
}

.player__track-recording {
    font-size: smaller;
    color: var(--bs-light);
}

.player__track-additional-info {

}

.player__icon {
    width: 32px;
    height: 32px;
}

#playingNow {
    margin-left: 12px;
    margin-top: 1px;
    margin-bottom: 12px;
}

.icon {
    display: inline-block;
    width: 36px;
    height: 36px;
    position: relative;
}

.icon:before {
    content: " ";
    display: block;
    position: absolute;
    opacity: 0.7;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px 24px;
    filter: brightness(var(--icon-brightness));
}

.iconButton {
    display: inline-block;
    width: 36px;
    height: 36px;
    cursor: pointer;
    background-color: var(--col-listitem);
    position: relative;
}

.iconButton:before {
    content: " ";
    display: block;
    position: absolute;
    opacity: 0.7;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px 24px;
    filter: brightness(var(--icon-brightness));
}

.iconButton:after {
    content: " ";
    display: block;
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--col-listitem-less);
    transition: opacity 400ms ease-out;
}

.iconButton:hover {
    background-color: var(--col-listitem-over);
}

.iconButton.isDisabled {
    pointer-events: none;
}

.iconButton.isDisabled:before {
    opacity: 0.5;
}

.toggleButton {
    background-color: transparent;
}

.toggleButton:before {
    opacity: 0.25;
}

.toggleButton:hover {
    background-color: var(--col-listitem-over);
}

.toggleButton:hover:before {
    opacity: 0.7;
}

.toggleButton.isSelected {
    background-color: var(--col-listitem-selected);
}

.toggleButton.isSelected:before {
    opacity: 0.7;
}

.toggleButton.isSelected:hover {
    background-color: var(--col-listitem-selected-over);
}

#playbarView {
    visibility: hidden;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    min-width: 320px;
    flex: 0 0 auto;
    padding: 12px 0 0 0;
    background-color: var(--col-bg);
    z-index: 10001;
}

/*#playingText {*/
/*    display: inline-block;*/
/*    margin-left: 12px;*/
/*    margin-top: 1px;*/
/*    height: 24px;*/
/*    margin-bottom: 11px;*/
/*    max-width: calc(100% - 124px);*/
/*    white-space: nowrap;*/
/*    overflow: hidden;*/
/*    text-overflow: ellipsis;*/
/*    cursor: pointer;*/
/*}*/
#playingText:hover {
    opacity: 0.8;
}

@media (max-width: 480px) {
    #playingText {
        margin-top: 3px;
        height: 24px;
        margin-bottom: 9px;
        max-width: calc(100% - 108px);
    }
}

#playbarButtons {
    display: flex;
    align-items: center;
    margin-left: 12px;
    margin-right: 76px;
}

@media (max-width: 480px) {
    #playbarButtons {
        margin-right: 60px;
    }
}

#stopButton {
    margin-right: 16px;
}

#stopButton:before {
    background-image: url("img/icons/stop_white_24dp.svg");
}

@media (max-width: 768px) {
    #stopButton {
        margin-right: 8px;
    }
}

.isStopped #stopButton {
    pointer-events: none;
}

.isStopped #stopButton:before {
    opacity: 0.5;
}

#playButton {
    margin-right: 8px;
    width: 72px;
}

#playButton:before {
    background-image: url("img/icons/play_arrow_white_24dp.svg");
}

@media (max-width: 480px) {
    #playButton {
        width: 36px;
    }
}

.isPlaying #playButton:before {
    background-image: url("img/icons/pause_white_24dp.svg");
}

.isPaused #playButton:before {
    background-image: url("img/icons/play_arrow_white_24dp.svg");
}

.isPlaylistEmpty #playButton {
    pointer-events: none;
}

.isPlaylistEmpty #playButton:before {
    background-image: url("img/icons/play_arrow_white_24dp.svg");
}

.isPlaylistEmpty #playButton:before {
    opacity: 0.5;
}

#previousButton {
    margin-right: 8px;
}

#previousButton:before {
    background-image: url("img/icons/skip_previous_white_24dp.svg");
}

.isStopped #previousButton {
    pointer-events: none;
}

.isStopped #previousButton:before {
    opacity: 0.5;
}

#nextButton {
    margin-right: 16px;
}

#nextButton:before {
    background-image: url("img/icons/skip_next_white_24dp.svg");
}

@media (max-width: 480px) {
    #nextButton {
        margin-right: 12px;
    }
}

.isStopped #nextButton {
    pointer-events: none;
}

.isStopped #nextButton:before {
    opacity: 0.5;
}

#seekBackwardButton {
    margin-right: 8px;
}

#seekBackwardButton:before {
    background-image: url("img/icons/replay_10_white_24dp.svg");
}

.isStopped #seekBackwardButton {
    pointer-events: none;
}

.isStopped #seekBackwardButton:before {
    opacity: 0.5;
}

#seekForwardButton {
    margin-right: 16px;
}

#seekForwardButton:before {
    background-image: url("img/icons/forward_10_white_24dp.svg");
}

.isStopped #seekForwardButton {
    pointer-events: none;
}

.isStopped #seekForwardButton:before {
    opacity: 0.5;
}

@media (max-width: 639px) {
    #seekBackwardButton, #seekForwardButton {
        display: none;
    }
}

#playingTrackArea {
    flex: 1;
    display: flex;
    align-items: center;
}

#playingTrackCurrentTime {
    font-size: 12px;
}

@media (max-width: 480px) {
    #playingTrackCurrentTime {
        display: none;
    }
}

#playingTrackLength {
    font-size: 12px;
}

@media (max-width: 480px) {
    #playingTrackLength {
        display: none;
    }
}

.isStopped #playingTrackCurrentTime,
.isStopped #playingTrackLength {
    color: var(--col-text-less);
}

#showPlaylistButton {
    position: absolute;
    top: 12px;
    right: 12px;
    height: calc(100% - 24px);
}

#showPlaylistButton:before {
    background-image: url("img/icons/queue_music_white_24dp.svg");
    background-position: center 6px;
}

.playlistView #showPlaylistButton {
    background-color: var(--col-listitem-selected);
}

#playlistNumberAt {
    position: absolute;
    top: 33px;
    width: 100%;
    text-align: center;
    font-size: 11px;
}

#playlistNumberStroke {
    position: absolute;
    top: 51px;
    left: 11px;
    height: 1px;
    width: 14px;
    background-color: var(--col-text);
}

#playlistNumberTotal {
    position: absolute;
    top: 53px;
    width: 100%;
    text-align: center;
    font-size: 11px;
}

#bottomScrim {
    position: absolute;
    width: 100%;
    height: 28px;
    top: -28px;
    pointer-events: none;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.25) 40%, rgba(0, 0, 0, 0) 100%);
}

@media (max-width: 480px) {
    #bottomScrim {
        display: none;
    }
}

